.main {
    text-align: center;
  }

.main-section{
    background-color: #FEEDDB;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: #D39B6C;
}

.tanggal{
  text-align: center;
}

.tanggal p,
.tanggal h1,
.tanggal h2,
.tanggal h3,
.tanggal h4{
  margin:0;
  font-weight: normal;
}

.tanggal h1{
  font-weight: normal;
}

.tanggal p{
  font-size:large;
}