/* styles.css */
.custom-button {
    border-radius: 100px;
    background-color: #545fa0; /* Default background color */
    color: white; /* Default text color */
    transition: background-color 0.3s, color 0.3s; /* Transition effect for background color and text color */
  }
  
  /* Define styles for the button when hovered */
  .custom-button:hover {
    background-color: #303f9f; /* New background color on hover */
    color: #fff; /* New text color on hover */
  }
  